.ccTabControl-widget-wrapper {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}
.ccTabControl-widget-wrapper .ccTabControl-widget {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  height: 60px;
  background: url(../images/ccTabControlLine.png) repeat-x;
  font-size: 1px;
  width: 100%;
  background-position: 0px 43px;
}
.ccTabControl-widget-wrapper .ccTabControl-widget .ccTabControl-menu-wrapper {
  height: 39px;
  position: relative;
  z-index: 10;
  top: 10px;
  left: 0;
  margin-left: 20px;
  display: inline-block;
}
.ccTabControl-widget-wrapper .ccTabControl-widget .ccTabControl-menu {
  font-size: 12px;
  display: inline-block;
  padding: 10px 5px;
  cursor: pointer;
  color: #1F49A3;
  text-decoration: none;
  margin: 5px 0 0 5px;
  float: left;
}
.ccTabControl-widget-wrapper .ccTabControl-widget .ccTabControl-line {
  height: 4px;
  font-size: 1px;
  position: relative;
  top: 0px;
}
.ccTabControl-widget-wrapper .ccTabControl-widget .ccTabControl-line.Orange {
  background-color: #FF9120;
}
.ccTabControl-widget-wrapper .ccTabControl-widget .ccTabControl-line.Green {
  background-color: #79C944;
}
.ccTabControl-widget-wrapper .ccTabControl-widget .ccTabControl-line.Yellow {
  background-color: #FBBC4B;
}
.ccTabControl-widget-wrapper .ccTabControl-widget .ccTabControl-line.Purple {
  background-color: #A673E9;
}
.ccTabControl-widget-wrapper .ccTabControl-widget .ccTabControl-line.Pink {
  background-color: #FF62FF;
}
.ccTabControl-widget-wrapper .ccTabControl-widget .ccTabControl-line.Blue {
  background-color: #3FA9F5;
}
.ccTabControl-widget-wrapper .ccTabControl-widget .ccTabControl-activeLeft {
  background: url(../images/ccTabControlBackground.png) 0 0 no-repeat;
  height: 63px;
  width: 20px;
  float: left;
  top: -14px;
  position: relative;
}
.ccTabControl-widget-wrapper .ccTabControl-widget .ccTabControl-activeMiddle {
  background: url(../images/ccTabControlBackground.png) 0 -75px repeat-x;
  height: 63px;
  float: left;
  padding-top: 10px;
  font-size: 12px;
  top: -14px;
  position: relative;
}
.ccTabControl-widget-wrapper .ccTabControl-widget .ccTabControl-activeRight {
  background: url(../images/ccTabControlBackground.png) -22px 0 no-repeat;
  height: 63px;
  width: 22px;
  float: left;
  top: -14px;
  position: relative;
}
.ccTabControl-widget-wrapper .ccTabControl-widget .ccTabControl-inactiveLeft {
  background-color: transparent;
  height: 63px;
  width: 20px;
  float: left;
  top: 1px;
  top: -14px;
  position: relative;
}
.ccTabControl-widget-wrapper .ccTabControl-widget .ccTabControl-inactiveMiddle {
  background-color: transparent;
  height: 63px;
  float: left;
  padding-top: 10px;
  font-size: 12px;
  top: -14px;
  position: relative;
}
.ccTabControl-widget-wrapper .ccTabControl-widget .ccTabControl-inactiveRight {
  background-color: transparent;
  height: 63px;
  width: 22px;
  float: left;
  top: -14px;
  position: relative;
}
.ccTabControl-widget-wrapper .ccTabControl-content {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  padding: 10px 20px;
}
